<div class="post-content">
    <div >
        <span class="post-title"><h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3></span>
        <pre><%- post.content %></pre>

        <span class="tag"><%= post.created_at %></span>
                  <span class="tag right">
                    <span>浏览(<%= post.pv %>)</span>
                     <span>留言(<%= post.commentsCount %>)</span>

                      <% if ((user && post.author._id && user._id.toString() === post.author._id.toString())||(user&&(user.role=='a'||user.role=='s'))) { %>
                      <div class="btn-group">
	             <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
		                  选项<span class="caret"></span>
	             </button>
	                      <ul class="dropdown-menu" role="menu">
		                    <li><a href="/posts/<%= post._id %>/edit">编辑</a></li>
		                    <li><a href="/posts/<%= post._id %>/remove">删除</a></li>
	                      </ul>
              </div>
                      <% } %>

                  </span>

    </div>
</div>